.Header {
    display: flex;
    justify-content: space-between;
}
.Title {
    font-size: 25px;
    font-weight: bold;
}
.Footer {
    display: flex;
    justify-content: space-between;
}
.Select {
    max-width: 100px;
}
.Pagination {
    margin: 0px !important;
}