.formControl
{
    margin-left: 20px;
    
}
.cart-count {
    width: 20px;
    position: relative; 
    top: -20px; 
    left: -30px;  
    background: #ff3b2f;
    color: #ffffff;
    padding: 6px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    border-radius: 75%;
    line-height: 20px;
}
button { 
    margin:5px; 
   } 